@font-face {
    font-family: 'Kurhosia';
    src: url(../fonts/Kurhosia.otf) format('truetype');
}

header {
    width: 100%;
    height: 8vh;
    min-height: 50px;
    box-sizing: border-box;
    padding: 1% 3.5% 1% 3.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 167, 25, 1) 0%, rgba(255, 225, 0, 1) 100%);
}

.sidebar {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.uitext {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vh;
}

a {
    text-decoration: none;
    color: inherit;
}

header a {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1vh;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #0f0f0f;
}

.logo {
    height: 15vh;
    width: auto;
}
.logo-account {
    height: 30vh;
    width: auto;
}
.bars {
    height: 5.5vh;
    width: auto;
}

.icon {
    height: 2.5vh;
    width: auto;
}
.icon-big {
    height: 3.5vh;
    width: auto;
}

.logo-and-more {
    display: flex;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

.account-form {
    border-radius: 20px;
    background-color: white;
    width: 30%;
    min-height: 25vh;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
}

.account-form-title {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5vh;
    font-weight: bold;
}

.account-form-text {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
}
.account-form-additional {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vh;
    font-weight: 300;
}

.account-form-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25vh;
}

.account-form-input {
    width: 100%;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vh;
}

.account-hr {
    width: 100%;
    border: none;
    background-color: black;
    height: 1px;
}

.account-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.account-button {
    background-color: black;
    display: inline-block;
    text-align: center;
    border: none;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
    cursor: pointer;
    transition: all .2s;
}

.account-form-start {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-big {
    width: 15vh;
    height: auto;
}

.text-error {
    color: red;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
}
.text-success {
    color: green;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
}

.header-right {
    width: 25vw;
    display: flex;
    gap: 6vw;
    align-items: center;
}
.header-account-info {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

.space {
    margin: 2% 15% 0 15%;
}
.state {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.account2-maininfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.account2-title {
    color: rgb(226, 226, 226);
    font-family: "Montserrat", sans-serif;
    font-size: 5vh;
}
.account2-subtitle {
    color: rgb(226, 226, 226);
    font-family: "Montserrat", sans-serif;
    font-size: 4vh;
    font-weight: bold;
}
.account2-text {
    color: rgb(226, 226, 226);
    font-family: "Montserrat", sans-serif;
    font-size: 3vh;
}
.account2-main-hr {
    background-color: rgb(226, 226, 226);
    border: none;
    height: 3px;
}
.account2-hr {
    background-color: rgb(226, 226, 226);
    border: none;
    height: 1px;
}
.account2-info {
    margin: 0.5% 1% 0.5% 1%;
}
.account2-info a {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1vh;
    transition: all .2s;
}
.account2-info a:hover {
    filter: brightness(0.75);
}

.product-types {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    margin: 2% 0 2% 0
}
.type-image {
    width: 5vh;
    height: auto;
}
.type-text {
    color: rgb(226, 226, 226);
    font-family: "Montserrat", sans-serif;
    font-size: 1.8vh;
}

.products {
    margin: 1% 10% 1% 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 2.5%;
}
.product {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(255, 167, 25, 1) 0%, rgba(255, 225, 0, 1) 100%);
    border: none;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 55px rgba(255, 255, 255, 0.1);
    transition: all .2s;
}
.product:hover {
    box-shadow: 0 0 55px rgba(255, 255, 255, 0.3);
}
.product:hover img {
    transform: scale(1.1)
}
.product figure {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #0f0f0f;
}
.product-image {
    width: 75%;
    height: auto;
    object-fit: cover;
    transition: all .2s;
    display: block;
}
.product-info {
    height: auto;
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.product-title {
    color: black;
    font-family: "Bebas neue", sans-serif;
    font-size: clamp(0.5vw, 2vw, 4vw);
    white-space: nowrap;
}
.product-price {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.5vw, 1.25vw, 2vw);
    font-weight:500;
}
.product-description {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.25vw, 1vw, 1.5vw);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.product-button {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.5vw, 1.25vw, 2vw);
    border: none;
    border-radius: 0 0 15px 15px;
    color: white;
    background-color: #0f0f0f;
    height: 5vh;
    margin-top: auto;
    margin-bottom: 2%;
    cursor: pointer;
    transition: all .2s;
    align-self: center;
    width: 95%;
}
.product-button:hover {
    background-color: #1f1f1f;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url("../images/background.jpg") fixed;
    opacity: 0.05;
    z-index: -1;
}

.direction {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(1vw, 1fr));
    gap: 2%;
}
.direction a{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.direction-form {
    border-radius: 20px;
    background-color: white;
    width: 30%;
    min-height: 25vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
}
.edit-title {
    display: flex;
    justify-content: center;
    margin: 1%;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
}
.directions-text {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.25vw, 1vw, 2vw);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.directions-description {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.25vw, 0.75vw, 1vw);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.direction-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vw;
}
.direction-edit {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.5vw, 1vw, 2vw);
    transition: all .2s;
    cursor: pointer;
}
.direction-edit:hover {
    filter: brightness(0.75);
}
.direction-elim {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.5vw, 1vw, 2vw);
    transition: all .2s;
    cursor: pointer;
}
.direction-elim:hover {
    filter: brightness(0.75);
}

.edit-error {
    display: flex;
    justify-content: center;
    margin: 1%;
    color: red;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
}
.edit-success {
    display: flex;
    justify-content: center;
    margin: 1%;
    color: green;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
}

.reduced-space {
    margin: 2% 10% 2% 10%;
}
.product-edit {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(1vw, 1fr));
    gap: 2%;
    width: 100%;
}
.product-edit a {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.product-edit-maininfo {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.25vw, 1vw, 2vw);
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.product-edit-info {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.25vw, 1vw, 2vw);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.product-edit-description {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.25vw, 0.75vw, 1.5vw);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.product-edit-image {
    background-color: white;
    border-radius: 8px;
    width: 5vw;
    height: auto;
}
.product-edit-buttons {
    display: flex;
    align-items: center;
    gap: 6%;
}
.product-edit-editbutton {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.5vw, 1vw, 2vw);
    transition: all .2s;
    padding: 5%;
    cursor: pointer;
}
.product-edit-editbutton:hover {
    filter: brightness(0.75);
}
.product-edit-deletebutton {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.5vw, 1vw, 2vw);
    transition: all .2s;
    padding: 5%;
    cursor: pointer;
}
.product-edit-deletebutton:hover {
    filter: brightness(0.75);
}